@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.BaseEditorialPage>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap 101 Template</title>

        <link href="~/Static/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Static/css/navbar-fixed-top.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Static/css/app.css">

        </head>
    <body>
        <div class="container">
            @Html.Partial("~/Views/Shared/Partials/Menu.cshtml", Model)
            @Html.Partial("~/Views/Shared/Partials/BreadCrumbs.cshtml", Model)
            <h1>@Html.PropertyFor(m => m.CurrentPage.PageName)</h1>
            @Model.CurrentPage.Created.ToString("dd/MM/yyyy") - @Model.CurrentPage.CreatedBy<br/>
            @RenderBody()
            <hr />
            @Html.Partial("~/Views/Shared/Partials/Footer.cshtml", Model)
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        @*<script src="Static/js/bootstrap.min.js"></script>*@
    </body>
</html>
