@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@Html.FullRefreshPropertiesMetaData()

@model WebNews.Models.ViewModels.EventPageViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div id="map" style="height: 300px; width: 300px; margin: 0 auto"></div>
<script type="text/javascript">

    var map;
    function initMap() {
        pos = {lat: @Model.Latitude, lng: @Model.Longitude}
        map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom: 8
        });
        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Event Position'
        });
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC__ztmJnP22tmOJhenDr2o4o421aRrFz8&callback=initMap">
</script>

<div>
    @Html.PropertyFor(m => m.CurrentPage.EventText)<br />
    Start Time:@Html.PropertyFor(m => m.CurrentPage.StartTime)<br />
    End Time:@Html.PropertyFor(m => m.CurrentPage.EndTime)<br />
    Ansvarlig for arrangementet:
    <div @Html.EditAttributes(m=>
        m.CurrentPage.EventPerson)>
        @Html.PropertyFor(m => m.CurrentPage.EventPerson)
        @Model.EventCreatorEmail<br />
        @Model.EventCreatorPhoneNumber
    </div>

</div>
